
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <div class="">
                <label class="form-label">Buscar por categoria</label>
                <input type="text" name="" id="" class="input ">
            </div>
            
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3">
        
        <div class="col" >
            <app-cards-contents></app-cards-contents>
        </div>
        <div class="col" >
            <app-cards-contents></app-cards-contents>
        </div>
        <div class="col" >
            <app-cards-contents></app-cards-contents>
        </div>
        <div class="col" >
            <app-cards-contents></app-cards-contents>
        </div>

        <div class="col" >
            <app-cards-contents></app-cards-contents>
        </div>
        
   
    </div>
</div>

